<div class="section-heading">
<h3 class="title is-2 has-text-brown">About Me</h3>
<p class="has-text-brown is-size-5" style="opacity: 0.9;">I'm a recent college graduate from the class of 2020 at UC Santa Cruz with a 
    B.S in Computer Science. I enjoy working on full stack Web Applications, and aspire to be a
    full-stack Software Engineer. Please check out some of my projects below. Currently looking for
    an <span style="color: #ffff15cc;">entry level</span> position. Thank you for visiting my site!
</p>
</div>