<div class="section-heading">
<h3 class="title is-2 has-text-brown">About Me</h3>
<p class="has-text-brown is-size-5" style="opacity: 0.9;">
    I'm a Full-stack Engineer based in Fremont, California.

    I am passionate about building complex applications and services that help bolster cyber security defenses.
    Currently I work at <a id='qp_a' href='https://quantea.com/' style="color: #ffe199" target="_blank"><b>Quantea</b></a>, a company that specializes in building enterprise network analysis tools.
    When I'm not working you can find me training boxing, practicing guitar, gaming, or working on my side projects.
</p>
</div>