<div class="hero is-fullheight">

<div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="box opq-bkgrd pink">
      {% if success %}
        <h1 class="has-text-brown"> Thank you!</h1>
      {% else %}
      <form action="{{ url_for('index') }}" method=post>
        {{ form.hidden_tag() }}
        <div class="field">
          {{ form.name.label(class_="label has-text-brown") }}
          <div class="control">
          {{ form.name(class_="input",placeholder="Jon Doe", **{'data-validation':'required'})}}
          </div>
        </div>

        <div class="field">
            {{ form.email.label(class_="label has-text-brown") }}
          <div class="control">
            {{ form.email(class_="input",placeholder="...@email.com", **{'data-validation':'required'}) }}
          </div>
        </div>
        <div class="field">
          {{ form.subject.label(class_="label has-text-brown") }}
          <div class="control">
            {{ form.subject(class_="input",placeholder="Subject", **{'data-validation':'required'})}}
          </div>
        </div>

        <div class="field">
          {{ form.message.label(class_="label has-text-brown") }}
          <div class="control">
          {{ form.message(class_="textarea",placeholder="Message", **{'data-validation':'required'})}}
          </div>
        </div>

        <div class="field">
          <div class="level">
              <div class="level-right">
                  <div class="level-item">
                    {{ form.submit(class_="button has-background-brown is-small no-border has-text-warning") }}
                  </div>
              </div>
            </div>
        </div>
      </form>
      {% endif %}
      </div>
    </div>
</div>