<div>
    <div class="tile is-parent">
        <div class="tile is-child container has-text-centered">
            <div class="box card opq-bkgrd pink">
                <header class="card-header no-shadow is-2 subtitle level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="card-header-title has-text-brown is-size-4">
                                <span>Jam Wheel</span>
                            </p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="https://github.com/mavho/Jam-Wheel" target="blank">
                                <span class="card-header-icon is-large has-text-brown">
                                    <i class="fab fa-github-alt"></i>
                                </span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a href="https://jamwheel.herokuapp.com/" target="blank">
                                <span class="card-header-icon has-text-brown">
                                    <i class="fab fa-chrome"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="card-image box desc-wrap" style="background-color: #f1b761;">
                    <figure class="image">
                        <img src="/static/images/wheel-min.PNG" alt="Jamwheel">
                        <div class="image-descr is-hidden-touch">
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">What is this?</h1>
                            <p class="has-text-brown">
                                A desktop web application that allows players to join online multiplayer rooms to jam together with
                                online Synth instruments.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">Challenges</h1>
                            <p class="has-text-brown">
                                This project is the first time I dwelved into music visualization and audio engineering. I had a lot of fun
                                diving learning about audio filters, compressors, and the insides of the P5.js library. I wasn't able to construct
                                all the sounds I wanted, but was able to engineer basic sounds using the Tone.js Library.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">What I learned</h6>
                            <p class="has-text-brown">
                                I was able to improve my knowledge of Javascript, the basics of web-sockets,
                                and designing real-time multiplayer web applications.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold">This project is still under active development. Check the github link for more info!</h1>
                        </div>
                    </figure>
                </div>
                <footer class="card-footer no-border">
                    <span class="is-pulled-right ">
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://tonejs.github.io/">Tone.js</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://flask-socketio.readthedocs.io/en/latest/">Flask-SocketIO</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://p5js.org/">P5.js</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://bulma.io/">Bulma</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.heroku.com/">Heroku</a>
                        </span>
                        <span class="tag has-background-yellow has-text-brown has-text-weight-bold">Desktop</span>
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="tile is-parent">
        <div class="tile is-child is-10-desktop container post has-text-centered">
            <div class="box card opq-bkgrd pink">
                <header class="card-header no-shadow is-2 subtitle level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="card-header-title has-text-brown is-size-4">
                                <span>UFC Fight Predictor & UFC API</span>
                            </p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="https://github.com/mavho/UFC-API" target="blank">
                                <span class="card-header-icon has-text-brown">
                                    <i class="fab fa-github-alt">
                                    </i>
                                </span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a href="http://ufcwatch.pythonanywhere.com/web" target="blank">
                                <span class="card-header-icon has-text-brown">
                                    <i class="fab fa-chrome"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="card-image box desc-wrap"style="background-color: #f1b761;">
                    <figure class="image">
                        <img class="textOverImage" src="/static/images/ufc_predictor-min.PNG" alt="Jamwheel" data-title="Hello" data-text="poo">
                        <div class="image-descr is-hidden-touch">
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">What is this?</h1>
                            <p class="has-text-brown">
                                A RESTFUL-API that provides event statistics as well as predictions for most of the modern day UFC-events.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">Challenges</h1>
                            <p class="has-text-brown">
                                The main challenges of this project was trying to keep the API as stateless as possible and keeping in line with
                                the RESTFUL-API principles. This project also has a lot of components, a trained machine learning module, web scraper,
                                database handler, and web API - so meshing these all together required some design thinking.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold is-size-5">What I learned</h6>
                            <p class="has-text-brown">
                                I learned the basics of buillding a RESTFUL-API, webscrapping, and building a machine learning model.
                            </p>
                            <h1 class="has-text-brown has-text-weight-bold">This project is still under active development. Check the github link for more info!</h1>
                        </div>
                    </figure>
                </div>
                <footer class="card-footer no-border">
                    <span class="is-pulled-right">
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://flask-restful.readthedocs.io/en/latest/">Flask-restful</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://scikit-learn.org/">Scikit-learn</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc">Beautiful Soup</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.pythonanywhere.com/">Python Anywhere</a>
                        </span>
                        <span class="tag has-background-yellow has-text-brown has-text-weight-bold">Desktop</span>
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>