<div>
    <div class="tile is-parent">
        <div class="tile is-parent is-vertical is-2 subtitle is-size2 is-hidden-touch">
            <div class="tile is-child media-links">
                <a href="https://github.com/mavho/Jam-Wheel">
                    <span class="icon-side has-text-brown">
                        <i class="fab fa-github-alt"></i>
                    </span>
                </a>
            </div>
            <div class="tile is-child media-links">
                <a href="https://jamwheel.herokuapp.com/">
                    <span class="icon-side has-text-brown">
                        <i class="fab fa-chrome"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="tile is-child is-10-desktop container post has-text-centered">
            <div class="box card opq-bkgrd pink">
                <header class="card-header">
                    <p class="card-header-title has-text-brown is-size-4">
                        <span>Jam Wheel</span>
                    </p>
                </header>
                <div class="card-image desc-wrap">
                    <figure class="image ">
                        <img src="/static/images/wheel-min.PNG" alt="Jamwheel">
                        <div class="image-descr">
                            <p class="has-text-white">
                                A desktop web application that allows users to jam with each other using Synths!
                                Just send your friends a room code, join the room and start jamming!
                                This project was an experimentation with SocketIO, Tone.js and Processing 5, 
                                all technologies that were very new to me, and helped improve my Javascript.
                            </p>
                            <p class="has-text-white">
                                This project is still under active development, please check out the Github link for more information!
                            </p>
                        </div>
                    </figure>
                </div>
                <footer class="card-footer no-border">
                    <span class="is-pulled-right ">
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://tonejs.github.io/">Tone.js</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://flask-socketio.readthedocs.io/en/latest/">Flask-SocketIO</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://p5js.org/">P5.js</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://bulma.io/">Bulma</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.heroku.com/">Heroku</a>
                        </span>
                        <span class="tag has-background-yellow has-text-brown has-text-weight-bold">Desktop</span>
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="tile is-parent">
        <div class="tile is-parent is-vertical is-2 subtitle is-size2 is-hidden-touch">
            <div class="tile is-child media-links">
                <a href="https://github.com/mavho/UFC-API">
                    <span class="icon-side has-text-brown">
                        <i class="fab fa-github-alt">
                        </i>
                    </span>
                </a>
            </div>
            <div class="tile is-child media-links">
                <a href="http://ufcwatch.pythonanywhere.com/web">
                    <span class="icon-side has-text-brown">
                        <i class="fab fa-chrome"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="tile is-child is-10-desktop container post has-text-centered">
            <div class="box card opq-bkgrd pink">
                <header class="card-header">
                    <p class="card-header-title has-text-brown is-size-4">
                        <span>UFC Fight Predictor & UFC API</span>
                    </p>
                </header>
                <div class="card-image desc-wrap">
                    <figure class="image">
                        <img class="textOverImage" src="/static/images/ufc_predictor-min.PNG" alt="Jamwheel" data-title="Hello" data-text="poo">
                        <div class="image-descr">
                            <p>
                                This RESTFUL API allows users to obtain fight statistics for most of the modern day UFC Events.
                                Bundled in this project is a Fight Prediction model that scrapes the upcoming UFC events and outputs
                                its fight predictions.
                            </p>
                            <p>This applications is still under active development, please check out the Github link for more information!</p>
                        </div>
                    </figure>
                </div>
                <footer class="card-footer no-border">
                    <span class="is-pulled-right">
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://flask-restful.readthedocs.io/en/latest/">Flask-restful</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://scikit-learn.org/">Scikit-learn</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc">Beautiful Soup</a>
                        </span>
                        <span class="tag has-background-yellow">
                            <a class="has-text-brown has-text-weight-bold" target="_blank" rel="noopener" href="https://www.pythonanywhere.com/">Python Anywhere</a>
                        </span>
                        <span class="tag has-background-yellow has-text-brown has-text-weight-bold">Desktop</span>
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>