<div class="section-heading">
    <h3 class="title is-2 has-text-brown">Resume</h3>
    <p class="subtitle has-text-brown">More about my skills</p>
    <a href="{{ url_for('static', filename='resume.pdf', _external=True) }}" target="blank"
        class="button no-border is-medium has-background-brown">
        <div class="has-text-brown">
            <span class="icon" style="color: #d9c267;">
                <i class="fas fa-file-alt"></i>
            </span>
            <span style="color:#d9c267">Download My Resume</span>
        </div>
    </a>
</div>