<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Maverick's Site</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bulma Version 0.8.2-->
    <link rel="stylesheet" type="text/css" href="static/css/bulma082.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>

    <!-- Header -->
    <section class="main-section">

      <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column on-top is-3 is-offset-1-touch is-offset-1-desktop-only brand-column">
                <h1 class="title has-text-brown is-size-1">
                  Maverick Ho
                </h1>
                <h1 class="subtitle has-text-brown is-size-5">
                  Full Stack Software Developer 
                </h1>
                <br>
                <h6 class="subtitle is-hidden-touch">
                  <div class="level">
                    <a class="level-item link-item is-size-6 has-text-brown" href="#about">
                      <span class="icon">
                        <i class="fas fa-info"></i>
                      </span>
                      <span>About</span>
                    </a>
                    <a class="level-item link-item is-size-6 has-text-brown" href="#resume">
                      <span class="icon">
                        <i class="fas fa-file-alt"></i>
                      </span>
                      <span>Resume</span>
                    </a>
                    <a class="level-item link-item is-size-6 has-text-brown" href="#portfolio">
                      <span class="icon">
                        <i class="fas fa-th-list"></i>
                      </span>
                      <span>Portfolio</span>
                    </a>
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Portfolio -->
      <section class="section" >
        <div class="container">
          <div class="columns">
            <div class="column is-offset-4-desktop">
              <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical">
                  <div class="tile is-parent">
                    <div class="tile is-child">
                      <div class="hero is-large">
                        <div class="hero-body" id="about">
                          {% include "_includes/about.html" %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tile is-parent">
                    <div class="tile is-child">
                      <div class="hero is-large">
                        <div class="hero-body" id="resume">
                          {% include "_includes/resume.html" %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tile is-parent" id="portfolio">
                    <div class="tile is-child">
                      <div class="section-heading">
                        <h3 class="title is-2 has-text-brown">Portfolio</h3>
                        <h4 class="subtitle is-5 has-text-brown" style="opacity: 0.9;">My latest works</h4>
                      </div>
                      {% include "_includes/portfolio.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

  </body>

</html>